.container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.input {
  width: 1rem;
  height: 1rem;
  accent-color: #2563eb;
  cursor: pointer;
}

.label {
  font-size: 0.8rem;
  font-weight: 500;
  color: #374151;
  text-transform: capitalize;
  cursor: pointer;
}
