.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0.8rem;
  border: none;
  border-radius: 1rem;
  font-size: 1rem;
  font-weight: 800;
  cursor: pointer;
  transition: all 0.2s;
}

.primary {
  background-color: #2563eb;
  color: white;
  box-shadow: var(--card-shadow);
}

.primary:hover {
  background-color: #1d4ed8;
  box-shadow: var(--card-shadow-hover);
}

.primary:active {
  transform: translateY(1px);
}

.secondary {
  background-color: #f3f4f6;
  color: #374151;
  border: 1px solid #d1d5db;
}

.secondary:hover {
  background-color: #e5e7eb;
}
