.summary {
  display: flex;
  justify-content: space-between;
}

.summaryCards{
  display: flex;
  gap:1.5rem;
}

.summaryHeader{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card {
  min-width: 200px;
  background: var(--bg-dark);
  border-radius: 8px;
  padding: 1rem;
  flex: 1;
  box-shadow: var(--card-shadow);

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.label {
  font-size: 0.875rem;
  color: var(--content-grey);
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.value {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--content-blue);
}

.summaryTitle{
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* border: 1px solid red; */
  font-weight: 900;
  font-size: 2rem;
}

.summaryDescription{
    color: var(--content-grey);
  font-size: 1rem;
}