.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  background-color: var(--content-white);
  border-bottom: 1px solid var(--input-border);
  /* box-shadow: var(--card-shadow); */
}

.left{
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--content-black);
}

.time {
  font-size: 0.875rem;
  color: var(--content-grey);
  font-variant-numeric: tabular-nums;
  font-family: monospace;
}

.navLinks {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.link {
  color: var(--content-grey);
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
  /* transition: color 0.2s ease; */
}

.link:hover {
  color: #4a29ae;
}

.dp {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: var(--content-grey);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  cursor: pointer;
}
